dist: xenial
language: python
python:
    - 2.7
    - 3.6
    - 3.7
    - 3.8
install:
    - pip install pillow
    - pip install matplotlib
    - pip install shapely
    - pip install scikit-image
    - pip install coverage
    - pip install coveralls
    - pip install codecov
    - pip install codacy-coverage
services:
    - xvfb
script: coverage run --source=dicompylercore -m unittest discover -v
after_success:
    - coveralls
    - codecov
    - python-codacy-coverage
